nav.hero.hero-full-height.pic--index
	.hero__section
		.hero__info
			img.hero__logo(src='/img/plumbing-wrench-v2.svg')
			h1.hero__section-header Plumbing
			p.hero__paragraph We provide a full range of commercial & residential plumbing services; From the smallest to the largest job, we got you covered.
		.hero__nav
			a.hero__link(href="/plumbing/water-main.html") Water Main
			a.hero__link(href="/plumbing/leaks.html") Leaks
			a.hero__link(href="/plumbing/water-heaters.html") Water Heaters
			a.hero__link(href="/plumbing/service.html") Service
			a.hero__link(href="/plumbing/save-water.html") Save Water

	.hero__section
		.hero__info
			img.hero__logo(src='/img/sewer+drain.svg')
			h1.hero__section-header Sewer & Drain
			p.hero__paragraph Whether you have a clogged sink or sewer line, we will get everything in working order.
		.hero__nav
			a.hero__link(href="/sewer-and-drain/sewer-main.html") Sewer Main
			a.hero__link(href="/sewer-and-drain/drain-cleaning.html") Drain Cleaning
			a.hero__link(href="/sewer-and-drain/camera-inspection.html") Camera Inspection
			a.hero__link(href="/sewer-and-drain/rooter-and-jetting.html") Rooter & Jetting
			a.hero__link(href="/sewer-and-drain/trenchless.html") Trenchless
			a.hero__link(href="/sewer-and-drain/commercial.html") Commercial

	.hero__section
		.hero__info
			img.hero__logo(src='/img/water-quality.svg')
			h1.hero__section-header Water Quality
			p.hero__paragraph Your families health is important. <br />Don’t settle for anything less than pure, filtered, conditioned water.
		.hero__nav
			a.hero__link(href="/water-quality/water-softeners.html") Water Softeners
			a.hero__link(href="/water-quality/conditioners.html") Conditioners
			a.hero__link(href="/water-quality/filtration.html") Filtration

	.hero__section
		.hero__info
			img.hero__logo(src='/img/heating+air.svg')
			h1.hero__section-header Heating & Air
			p.hero__paragraph Our certified technicians are available to install, repair & service your Furnace, AC or Heat Pump.
		.hero__nav
			a.hero__link(href="/heating-and-air/furnaces.html") Furnaces
			a.hero__link(href="/heating-and-air/heaters.html") Heaters
			a.hero__link(href="/heating-and-air/air-conditioners.html") Air Conditioners
			a.hero__link(href="/heating-and-air/dehumidifiers.html") Dehumidifiers
