// Vertical Spaces
$vertical-space = 80*$px
$paragraph-size = 22*$px
$paragraph-lineheight = 34*$px
$paragraph-space = 34*$px
$vertical-space-iphone = 64*$px

// The Golden Ration
$phi = 1.618
$golden_major = 0.618
$golden_minor = 0.382

// max site-width
$max-site-width = 1280px

// Header Height
$gh-height = 160px

// Column Height
$col-height = 280px
