$base_font_size = 16
$px = ( 1 / $base_font_size ) rem
$px_em = ( 1 / $base_font_size ) em



// px to rem or em conversion function
px( val, base='none' )

	// if new base font size is NOT introduced, use rems
	if base == 'none'
		( val / $base_font_size ) rem
		
	// if new base font size IS introduced, use ems
	else
		( val / base ) em



// The Golden Ration
$phi = 1.618
$golden_major = 0.618
$golden_minor = 0.382

// max site-width
$max-site-width = 1280px

// Header Height
$gh-height = 160px

// Column Height
$col-height = 280px