// change default global colors
magenta = hsl(342, 96%, 58%)
red = hsl(354, 72%, 55%)
blue = hsl(206, 86%, 62%)
clear = hsla(0, 0%, 50%, 0%)

// my global colors
$dark-grey = hsl(0, 0%, 19%)
$light-grey = hsl(0, 0%, 97%)
$vibrant-blue = hsla(210, 100%, 44%, 1)


// Header
$header-bg = hsla(197, 78%, 96%, 98%)
$header-fade-bg = hsl(196, 79%, 100%)
$call-us-bg = blue


// Content
$site-background = hsl(180, 33%, 99%)
$text-color = $dark-grey
$horizontal-rule = $vibrant-blue

// Hero Nav
$hero-nav-section-bg = $dark-grey
$hero-info-bg = $hero-nav-section-bg
$hero-info-text = white
$hero-nav-bg = hsla(0, 0%, 12%, 96%)
$hero-nav-logo-border = $vibrant-blue
$hero-nav-button = $vibrant-blue

// Schedule Forms
$schedule-form-section = $light-grey
$schedule-info-bg = $dark-grey
$schedule-info-text = white
$form-group = $light-grey
$form-group = clear

// Footer
$footer-bg = $dark-grey