// rewrite default global colors
magenta = hsl(342, 96%, 58%)

// my global colors
$dark-grey = hsl(0, 0%, 19%)
$black = hsl(200, 7%, 9%)

$logo-bg-color = hsl(196, 79%, 96%)
$logo-fade-color = hsl(196, 79%, 100%)