.pic--
	&index:after
		background: url('/img/banner-top.jpg')

	&water-heaters:after
		background: url('/img/water-heaters.jpg')

	&water-main:after
		background: url('/img/water-1.jpg')

	&leaks:after
		background: url('/img/water-pipes.jpg')
		
	&save-water:after
		background: url('/img/water-2.jpg')

	&new-installs:after
		background: url('/img/new-installs.jpg')

	&renovate:after
		background: url('/img/renovate.jpg')

	&sewer-main:after
		background: url('/img/sewer-main.jpg')

	&drain-cleaning:after
		background: url('/img/drain-2.jpg')

	&camera-inspection:after
		background: url('/img/camera.jpg')

	&trenchless:after
		background: url('/img/lawn.jpg')
	
	&commercial:after
		background: url('/img/commercial.jpg')