$fh()
	display: inline-block

.fh
	$horizontal-divider-top()
	$horizontal-divider-bottom()
	background: $header-bg
	backdrop-filter: blur(0.5*$px)
	z-index: 800
	height: 64*$px
	width: 100%  
	display: flex
	justify-content: space-between
	align-items: center
	position: sticky
	top: 0
	+above(921px)
		display: none

	&-logo
		padding-top: 6*$px
		+below(360px)
			display: none

	&-logo-back
		padding-top: 6*$px
		+below(360px)
			display: none

	&-cta
		$fh()
		// width: 250px
		font-size: 16*$px
		font-weight: 600
		padding: 12*$px 16*$px
		border-radius: 4*$px
		background: red
		// border: 1px solid red
		color: white
		text-align: center
		+below(340px)
			display: none
		&:hover
			background: darken(blue, 10%)

	&-call
		$fh()
		font-size: 20*$px
		color: blue
		font-weight: 600
		margin-right: 5*$px
		+below(360px)
			margin: auto
		+above(400px)
			margin-right: 16*$px
			
		+below(340px)
			font-weight: 600
			padding: 12*$px 22*$px
			border-radius: 4*$px
			background: blue
			color: white
			text-align: center
		