//
// Global Footer
//

.gf
	$horizontal-divider-top()
	&-menu
		background: $logo-bg-color
		height: 150px
		+below(369px)
			height: 200px
		+below(320px)
			height: 320px 
	
	&-nav
		v-align()
		margin-left: 10px
		margin-right: 10px
		float: right
		
		list-style-type: none
		&__item
			display: inline-block
		&__link
			button(blue)
			font-size: 18px
			line-height: 58px 