$vertical-space = 130*$px
$paragraph-space = 34*$px
$paragraph-size = 22*$px
$paragraph-lineheight = 34*$px
.copy
	&__head
		display: flex
		align-items: center
		margin-bottom: $paragraph-space
		+above(960px)
			width: 990px
			margin: 0px auto $paragraph-space auto


	&__logo
		width: 130*$px
		margin-right: 20*$px
		+above(980px)
			margin-right: 60*$px

	&__header
		font-size: 9vw
		+above(700px)
			font-size: 44*$px

	&__content
		max-width: 600px
		margin: auto
		display: block
		+between(768px, 768px)
			margin-left: 155px

	&__paragraph
		font-size: $paragraph-size
		line-height: $paragraph-lineheight
		margin-bottom: $paragraph-space

	// margins
	margin-bottom: $vertical-space
	&:first-of-type // top margine
		margin-top: ($vertical-space - 30%)

.social
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	width: 280px
	margin-top: $vertical-space

.schedule-service
	display: block
	width: 250px
	font-size: 16*$px
	font-weight: 600
	padding: 22*$px
	border-radius: 4*$px
	background: red
	color: white
	margin: 40*$px auto
	text-align: center
	&:hover
		background: darken(red, 10%)


//
// Schedule Service Page
//

.schedule-info
	background: hsl(0, 0%, 96%)
	margin: ($vertical-space - 60%) auto ($vertical-space - 60%) auto
	border-radius: 4px
	padding: 30px
	max-width: 750px

	&__paragraph
		font-size: $paragraph-size
		line-height: $paragraph-lineheight
		margin-bottom: ($paragraph-space - 30%)

.schedule-form
	max-width: 600px
	width: 100%
	margin: 0 auto

.contact, .location, .problem
	border: 1px solid #bbb
	background-color: hsl(0, 0%, 96%)
	border-radius: 8px
	padding: 20px
	margin-bottom: 20px

.form
	&__fieldset
	&__label
	&__legend
	&__input