.hero-menu
	width: 100%
	height: 600px
	display: flex
	background: #fff
	justify-content: space-around
	align-items: center
	
	&__section
		height: 490px
		width: 230px
		// background: silver
		border-radius: 8*$px
		position: relative

		//- hover on the container is used because a hover on a sibling element
		//- causes the box to flicker
		&:hover > .hero-menu__nav
			display: flex
			flex-flow: column
			justify-content: space-around
			align-items: center

	&__info
		background: yellow
		height: 490px
		width: 230px
		border-radius: 8*$px
		position: absolute
		top: 0
		z-index: 100

	&__nav
		z-index: 200
		background: hsla(0, 0%, 24%, 90%)
		height: 490px
		width: 230px
		border-radius: 8*$px
		display: none
		position: absolute
		top: 0
	
	&__link
		button(hsla(210, 100%, 44%, 1))
		text-align: center  
		font-size: 22px
		font-weight: 400
		width: 170px
		hight: 30px
		color: white
		height: 40px
		// margin: auto

		&:hover
			button(darken(hsla(210, 100%, 44%, 1), 10%))