// Header Rows & Columns
hcol($height = $hcol)
	height: $height


.logo
	hcol()
	background: linear-gradient(left, $logo-fade-color, $logo-bg-color)
	lost-align: center
	+above(1020px)
		lost-column: 6/24 0 0
	&__logo
		height: 99px
		width: 267px


// call to action
.cta
	background: hsl(206, 86%, 62%)
	lost-align: middle-center
	position: relative
	hcol()
	+above(1020px)
		lost-column 8/24 0 0
	
	&__droplets
		size: 7px 37px
		position: absolute
		left: -9px

	&__message
		width: 330px
		text-align: center
		+below(410px)
			width: 290px
				
		&__call
			font-size: 1.46em
			color: white
			margin: 0
			+above(420px)
				font-size: 1.6em
		&__phone
			font-size: 2.6em
			color: white
			margin: 0
			color: hsl(0, 0%, 20%)
			+above(420px)
				font-size: 3em
			a:link
				text-decoration: none
				color: hsl(0, 0%, 20%)


// iPad sized = two column header
+between(730px, 1020px)
	.logo,	.cta
		lost-column: 1/2 0 0