$vertical-space = 130*$px
$paragraph-space = 34*$px
$paragraph-size = 22*$px
$paragraph-lineheight = 34*$px
$vertical-space-iphone = ($vertical-space - 60%)

.copy
	padding: 20*$px
	// margins
	margin-bottom: $vertical-space
	
	+below(920px)
			margin-bottom: $vertical-space-iphone

	&__head
		display: flex
		align-items: center
		margin-bottom: $paragraph-space
		+above(960px)
			width: 990px
			margin: 0px auto $paragraph-space auto


	&__logo
		width: 130*$px
		margin-right: 20*$px
		+above(980px)
			margin-right: 60*$px

	&__header
		font-size: 9vw
		+above(700px)
			font-size: 44*$px

	&__content
		max-width: 600px
		margin: auto
		display: block
		+between(768px, 768px)
			margin-left: 155px

	&__paragraph
		font-size: $paragraph-size
		line-height: $paragraph-lineheight
		margin-bottom: $paragraph-space

.social
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	width: 280px
	margin-top: $vertical-space

.schedule-service
	display: block
	width: 250px
	font-size: 16*$px
	font-weight: 600
	padding: 22*$px
	border-radius: 4*$px
	background: red
	color: white
	margin: 40*$px auto
	text-align: center
	&:hover
		background: darken(red, 10%)


//
// Schedule Service Page
//

.schedule-info
	background-color: darken(hsl(180, 20%, 99%), 2%)
	margin: ($vertical-space - 60%) auto ($vertical-space - 60%) auto
	border-radius: 4*$px
	padding: 30*$px
	padding-top: 50*$px
	max-width: 900*$px
	+below(920px)
		padding 15*$px
		margin: ($vertical-space - 75%) auto ($vertical-space - 60%) auto
	+below(320px)
		padding: 10*$px
	&__paragraph
		font-size: $paragraph-size
		line-height: $paragraph-lineheight
		margin-bottom: ($paragraph-space - 30%)
		&:last-of-type
			margin-bottom: 0
