//
// Global Footer
//

.gf
	&-menu
		background: $logo-bg-color
		height: 150px
		+below(369px)
			height: 200px
		+below(300px)
			height: 320px 
	
	&-nav
		margin-left: 10px
		margin-right: 10px
		float: right
		  
		v-align()
		
		list-style-type: none
		&__item
			display: inline-block
		&__link
			button(lighten(magenta, 50%))
			font-size: 18px
			line-height: 58px 