body
	font-family: "myriad-pro", Myriad Pro, sans-serif
	font-weight: 400

// Global Wrapper (site-width)
.g-wrapper
	lost-center: $max-site-width

// Global Content Wrapper
.gc-wrapper
	width: 100% 
	height: 100%
	lost-utility: clearfix
	background: hsl(180, 33%, 99%)
	border-radius: 10px 0 0 0
	z-index: 0