//
// Schedule Service Page
//

.schedule

	&-info
		$horizontal-divider-bottom()
		+above(1280px)
			$horizontal-divider-top()
		background-color: $schedule-info-bg
		&__wrapper
			margin: ( 0 auto)
			border-radius: 4*$px
			padding: 30*$px
			max-width: 900*$px
			+below(920px)
				border-radius: 0
				padding 45*$px
			+below(600px)
				padding: 36*$px 20*$px
			+below(320px)
				padding: 10*$px

		&__paragraph
			color: $schedule-info-text
			font-size: $paragraph-size
			line-height: $paragraph-space
			font-weight: 300 
			margin-bottom: $paragraph-space
			&:last-of-type
				margin-bottom: 0
			+above(420px)
				font-weight: 400 
	
	&-section
		padding-top: $vertical-space = 80*$px
		height: 100%
		width: 100%
		background: silver