//- This project follows Inverted Triangle CSS (ITCSS)
//- Files should be organized by groups which are described below.
//- As we go down our list of files we should go from:
//-   Generic to explicit
//-   Far-reaching to localised
//-   Low specificity to high specificity

@charset "utf-8"; // Set CSS to utf-8

//- VENDORS
@import 'typographic'

//- SETTINGS
@import 'settings.global'
@import 'settings.colors'

//- BASE
@import 'base.box-sizing'
@import 'base.foundation'

//- ELEMENTS
@import 'elements.typography'

//- MODULES
@import 'modules.wrapper'
@import 'modules.page'
@import 'modules.header'
@import 'modules.nav'
@import 'modules.content'
@import 'modules.hero'
@import 'modules.footer'
