//- This project follows Inverted Triangle CSS (ITCSS)
//- Files should be organized by groups which are described below.
//- As we go down our list of files we should go from:
//-   Generic to explicit
//-   Far-reaching to localised
//-   Low specificity to high specificity

@charset "utf-8"; // Set CSS to utf-8

//- VENDORS
@import 'typographic'

//- SETTINGS
@import '1.settings.global'
@import '1.settings.colors'
@import '1.settings.mixins'

//- BASE
@import '2.base.box-sizing'
@import '2.base.foundation'

//- ELEMENTS
@import '3.elements.typography'

//- MODULES
@import '4.modules.page'
@import '4.modules.header'
@import '4.modules.floating-header'
@import '4.modules.content'
@import '4.modules.forms'
@import '4.modules.hero'
@import '4.modules.footer'
