extends ../layout/base.jade

append config
	- var page = 'hot-water'
	- var PageTitle = 'Plumbing Flow | Hot Water'
	- var Description = 'Do you need to change or install a water?'

block content
	h1 hot-water