extends ../views/page

append config
	- var PageTitle = 'Water Heaters'
	- var Description = 'Do you need to change or install a water?'

block page-content

	+page-section('Excellent Workmanship', 'five-stars.svg')
		+p.
			We are a family owned and operated plumbing services company, and
			We like to make our money the old fasioned way,
			By delivering high quality, uncompromised
			service and workmanship, with no shortcuts.