extends ../layout/base.jade

append config
	- var page = 'hot-water'
	- var PageTitle = 'Plumbing Flow | Hot Water'
	- var Description = 'Do you need to change or install a water?'

block content

	.hero.hero-half-height.pic--water-heaters
		.hero__header Water Heaters

	main.content-area
		section.copy
			.copy__head
				img.copy__logo(src='/img/five-stars.svg')
				h2.copy__header Excellent Workmanship
			.copy__content
				p.copy__paragraph We are a family owned and operated plumbing services company, and
					| We like to make our money the old fasioned way,
					| By delivering high quality, uncompromised
					| service and workmanship, with no shortcuts.