footer.gf
	nav.gf-menu
		ul.gf-nav
			li.gf-nav__item: a.gf-nav__link(href='/job-opportunities.html') Jobs
			li.gf-nav__item: a.gf-nav__link(href='/our-story.html') Our Story
			li.gf-nav__item: a.gf-nav__link(href='/schedule-service.html') Contact Us
