extends layout/base.jade

append config
	- var page = 'index'
	- var PageTitle = 'Plumbing Flow | Home'
	- var Description = 'The Best Plumbers in Miami Florida! We\'re here to help YOU!'

block content

	include layout/nav

	main.content-area
		section.copy
			.copy__head
				img.copy__logo(src='/img/five-stars.svg')
				h2.copy__header Excellent Workmanship
			.copy__content
				p.copy__paragraph We are a family owned and operated plumbing services company, and
					| We like to make our money the old fasioned way,
					| By delivering high quality, uncompromised
					| service and workmanship, with no shortcuts.
				p.copy__paragraph We are professional plumbers, respectful people, and on time.
				p.copy__paragraph If your pipes are clogged and need to be cleaned, we can do that.
				p.copy__paragraph If your water is not flowing properly, we can fix that.
				p.copy__paragraph If you need a bathroom remodeled, we can do that too
				p.copy__paragraph Bottom line: We provide solutions to your problems.

		section.copy
			.copy__head
				img.copy__logo(src='/img/time.svg')
				h2.copy__header Your time is valuable
			.copy__content
				p.copy__paragraph We understand that life is complicated,
					| So we do everything in our power to
					| be on time, on track, to provide services you need.

		section.copy
			.copy__head
				img.copy__logo(src='/img/payment.svg')
				h2.copy__header We’ve got you covered
			.copy__content
				p.copy__paragraph When emergencies happen,
					| You can rely on us.
					| We accept multiple forms of
					| payment options, so you wont
					| be left in the cold.
				p.copy__paragraph We’ll help you on the spot.

			section.social
				p.social__cta find us on:
				a(href='https://www.bbb.org/'): img.social__image(src='/img/bbb-logo.svg')
				a(href='http://www.yelp.com/'): img.social__image(src='/img/yelp-logo.svg')
