doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Layout
		link(rel='stylesheet', href='css/style.css')
		script(src='js/app.js')

	body
		.site-wrapper
			header

			section.hero-1st
				div

			section.row
				div: h1 one
				div: h1 two
				div: h1 three

			section.hero-2nd
				div

			section.row
				div: h1 four
				div: h1 five
				div: h1 six
					
			footer

