extends layout/base.jade

append config
	- var PageTitle = 'Plumbing Flow | Home'
	- var Description = 'The Best Plumbers in Miami Florida! We\'re here to help YOU!'

block content
	section.hero
		.col: h1 HERO1
		//- img(src='img/banner-top.png')
		//- span We Know Plumbing!

	section.row
		.col: h1 one
		.col: h1 two
		.col: h1 three

	section.hero
		.col: h1 HERO 2

	section.row
		.col: h1 four
		.col: h1 five
		.col: h1 six