extends layout/base.jade

append config
	- var PageTitle = 'Plumbing Flow | Home'
	- var Description = 'The Best Plumbers in Miami Florida! We\'re here to help YOU!'

block content
	section.copy
		.copy__logo
			img(src='./img/wrench.svg')
			img(src='./img/bbb-logo.svg')
			img(src='./img/yelp-logo.svg')

		.copy__text
			h1 We Know Plumbing
			p When you are met with a reality YOU don’t want to deal with, <br />
				| Call someone who is prepared to fix it.
			p We are professional plumbers, respectful people, and on time.
			p There is a reason your pipes are clogged, your drain is leaking,
				| and for some reason, a funny smell is emanating throughout your families living area.
			p No, it’s not just you, this happens to everyone. <br />
				| metal rusts, plastic crumbles, and so pipes break and burst.
			p life happens to everyone and everything.
			p Allow us to fix your plumbing problems quickly, <br />
				| so you could move on with the more pleasant things in life.
			a.schedule-service(href='./request-services.html') Schedule Service Online

	section.copy
		.copy__logo
			img(src='./img/workmanship.svg')
		.copy__text
			h2 Excellent Workmanship
			p We like to make our money the old fasioned way, <br />
				| By delivering high quality, uncompromised <br />
				| service and workmanship, with no shortcuts.
			p We find solutions for your problems.

	section.copy
		.copy__logo
			img(src='./img/games.svg')
		.copy__text
			h2 We don’t play games
			p If a service costs X amount, we charge you X amount, <br />
				| we don’t pretend to charge you less by giving you a <br />
				| coupon, and then charging you more to make that <br />
				| coupon discount money back.
			p Yes, companies really do that, we don’t.

	section.copy
		.copy__logo
			img(src='./img/time.svg')
		.copy__text
			h2 Your time is valuable
			p We value your time, so we do everything <br />
				| we can in a speedy and professional manner, <br />
				| We don’t want to waste anyones time.

	section.copy
		.copy__logo
			img(src='./img/credit-card.svg')
		.copy__text
			h2 We’ve got you covered
			p When emergencies happen, <br />
				| You can rely on us. <br />
				| We accept multiple forms of <br />
				| payment options, so you wont <br />
				| be left in the cold.
			p We’ll help you on the spot.
