extends layout/base.jade

append config
	- var PageTitle = 'Plumbing Flow | Home'
	- var Description = 'The Best Plumbers in Miami Florida! We\'re here to help YOU!'

block content

	section.hero
		.hero__section
			.hero__info
				img.hero__logo(src='./img/plumbing-wrench-v2.svg')
				h1.hero__header Plumbing
				p.hero__paragraph We provide a full range of commercial & residential plumbing services; From the smallest to the largest job, we got you covered.
			.hero__nav
				a.hero__link(href="#") Water Main
				a.hero__link(href="#") Leaks
				a.hero__link(href="#") Hot Water
				a.hero__link(href="#") New Installations
				a.hero__link(href="#") Renovate
				a.hero__link(href="#") Save Water

		.hero__section
			.hero__info
				img.hero__logo(src='./img/sewer+drain.svg')
				h1.hero__header Sewer & Drain
				p.hero__paragraph Whether you have a clogged sink or sewer line, we will get everything in working order.
			.hero__nav
				a.hero__link(href="#") Sewer Main
				a.hero__link(href="#") Drain Cleaning
				a.hero__link(href="#") Camera Inspection
				a.hero__link(href="#") Rooter & Jetting
				a.hero__link(href="#") Trenchless
				a.hero__link(href="#") Commercial

		.hero__section
			.hero__info
				img.hero__logo(src='./img/water-quality.svg')
				h1.hero__header Water Quality
				p.hero__paragraph Your families health is important. <br />Don’t settle for anything less than pure, filtered, conditioned water.
			.hero__nav
				a.hero__link(href="#") Water Softeners
				a.hero__link(href="#") Conditioners
				a.hero__link(href="#") Filtration

		.hero__section
			.hero__info
				img.hero__logo(src='./img/heating+air.svg')
				h1.hero__header Heating & Air
				p.hero__paragraph Our certified technicians are available to install, repair & service your Furnace, AC or Heat Pump.
			.hero__nav
				a.hero__link(href="#") Furnace
				a.hero__link(href="#") Heat
				a.hero__link(href="#") Air
				a.hero__link(href="#") Dehumidifier


	section.copy
		.copy__head
			img.copy__logo(src='./img/five-stars.svg')
			h2.copy__header Excellent Workmanship
		.copy__content
			p.copy__paragraph We are a family owned and operated plumbing services company, and
				| We like to make our money the old fasioned way,
				| By delivering high quality, uncompromised
				| service and workmanship, with no shortcuts.
			p.copy__paragraph We are professional plumbers, respectful people, and on time.
			p.copy__paragraph If your pipes are clogged and need to be cleaned, we can do that.
			p.copy__paragraph If your water is not flowing properly, we can fix that.
			p.copy__paragraph If you need a bathroom remodeled, we can do that too
			p.copy__paragraph Allow us to fix your plumbing problems quickly,
				| so you could move on with the more pleasant things in life.

	section.copy
		.copy__head
			img.copy__logo(src='./img/time.svg')
			h2.copy__header Your time is valuable
		.copy__content
			p.copy__paragraph We understand that you have a life,
				| So we do everything in our power to
				| be on time, on track, and provide service in a timely fashion.

	section.copy
		.copy__head
			img.copy__logo(src='./img/payment.svg')
			h2.copy__header We’ve got you covered
		.copy__content
			p.copy__paragraph When emergencies happen,
				| You can rely on us.
				| We accept multiple forms of
				| payment options, so you wont
				| be left in the cold.
			p.copy__paragraph We’ll help you on the spot.

			.social
				p.social__cta find us on:
				a(href='https://www.bbb.org/'): img.social__image(src='./img/bbb-logo.svg')
				a(href='http://www.yelp.com/'): img.social__image(src='./img/yelp-logo.svg')
