extends layout/base.jade

append config
	- var PageTitle = 'Plumbing Flow | Schedule Services'
	- var Description = 'Fill out the requested information and within 2 business hours, you’ll recieve a phonecall or text from one of our representatives to discuss your plumbing problem, and put you into a schedule timeframe that works for you.'

block content
	section.schedule-info
		p.schedule-info__paragraph Please fill out the requested information below.
		p.schedule-info__paragraph Within 2 business hours, you’ll recieve a phonecall or text from one of our representatives to discuss your plumbing problem, and put you into a schedule timeframe that works for you.

	section
		form(name='contact' action='//formspree.io/formspree@plumbingflow.com' method='POST').form
			//- Contact
			fieldset.form__group
				legend.form__group-name Contact
				input.form__input(name='full-name' placeholder='full name' type='text' tabindex='1' autofocus required)
				input.form__input(name='phone-number' placeholder='phone number' type='tel' tabindex='2' required)
				input.form__input(name='email' placeholder='email' type='email' autocomplete='email' tabindex='3' required)

			//- Location
			fieldset.form__group
				legend.form__group-name Location
				input.form__input(name='address' placeholder='address' type='text' autocomplete='street-address' tabindex='4' required)
				input.form__input(name='zip-code' placeholder='zip code' type='number' autocomplete='postal-code' tabindex='5' required)

			//- Problem
			fieldset.form__group
				legend.form__group-name Problem
				textarea.form__text-area(name='problem' placeholder='describe your problem in a few words' type='text' tabindex='6')

			//- Submit
			input.form__input(type='submit' value='Submit' tabindex='7')