extends layout/base.jade

append config
	- var PageTitle = 'Plumbing Flow | Schedule Services'
	- var Description = 'Fill out the requested information and within 2 business hours, you’ll recieve a phonecall or text from one of our representatives to discuss your plumbing problem, and put you into a schedule timeframe that works for you.'

block content
	section.schedule-info
		p.schedule-info__paragraph Please fill out the requested information
		p.schedule-info__paragraph Within 2 business hours, you’ll recieve a phonecall or text from one of our representatives to discuss your plumbing problem, and put you into a schedule timeframe that works for you.

	section
