//- variables + overides
block config
	include config

//- g- is a global
//- gh- is a global header
//- gc- is a global content wrapper
//- gf- is a global footer

doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content=Description)

		title
			| #{PageTitle}

		link(rel='stylesheet' href='/css/style.css')
		//- script(src='js/app.js')

	body
		.g-wrapper
			header.gh
				.gh-logo
					a(href='/index.html'): img.gh-logo__image(src='/img/logo.svg' alt='Plumbing Flow')

				nav.gh-cta
					if (page !== 'schedule')
						ul.gh-nav
							li.gh-cta__item: a.gh-cta__link(href='/schedule-service.html') Schedule Service

				.gh-hotline
					article.gh-hotline__wrapper
						h4.gh-hotline__header Plumbing Service Hotline
						h4.gh-hotline__phone (786) 393 1771

			header.fh
				if (page === 'index')
					a(href='/index.html'): img.fh-logo(src='/img/mini-logo.svg')
				else
					a(href='/index.html'): img.fh-logo-back(src='/img/mini-logo-back.svg')

				if (page !== 'schedule')
					a.fh-cta(href='/schedule-service.html') Schedule Service

				.fh-call (786) 393 1771


			main.gc-wrapper
				block content

			footer.gf
				nav.gf-menu
					ul.gf-nav
						li.gf-nav__item: a.gf-nav__link(href='/job-opportunities.html') Job Opportunities
						li.gf-nav__item: a.gf-nav__link(href='/our-story.html') Our Story
						li.gf-nav__item: a.gf-nav__link(href='/schedule-service.html') Contact Us

			script(src='/js/app.js' defer)
