//- variables + overides
block config
	include config
doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content=Description)
		title
			| #{PageTitle}
		link(rel='stylesheet', href='css/style.css')
		script(src='js/app.js')

	body
		.site-wrapper
			header.hrow
				.hcol.logo-box
					a(href='./index.html'): img.logo(src='img/logo.svg' alt='Plumbing Flow')

				.hcol.menu-box
					nav.main-nav
						.button: a(href='./request-services.html') Request Services
						.button: a(href='./reviews.html') Reviews
						.button: a(href='./about-us.html') About Us

				.hcol.cta-box
					img.droplets(src='img/droplets.svg')
					article
						h4.call Call for Plumbing Service
						h4.phone (786) 393 1771
			.content-wrapper
				block content

			footer
				nav.footer-nav
					a(href='./site-map.html'): .button Site Map
					a(href='./list-of-services.html'): .button List of Services
					a(href='./our-vision.html'): .button Our Vision
					a(href='./job-opportunities.html'): .button Job Opportunities
					a(href='./contact-us.html'): .button Contact Us