//- variables + overides
block config
	include config

//- g- is a global
//- gh- is a global header
//- gc- is a global content wrapper
//- gf- is a global footer

doctype html

html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content=Description)

		title
			| #{PageTitle}

		link(rel='stylesheet', href='css/style.css')
		//- script(src='js/app.js')

	body
		.g-wrapper
			header.gh
				.gh-logo
					a(href='./index.html'): img.gh-logo__image(src='img/logo.svg' alt='Plumbing Flow')

				nav.gh-menu
					ul.gh-nav
						li.gh-nav__item: a.gh-nav__link(href='./schedule-service.html') Schedule Service

				.gh-cta
					img.gh-cta__droplets(src='img/droplets.svg')
					article.gh-cta__message
						h4.gh-cta__call Plumbing Service Hotline
						h4.gh-cta__phone (786) 393 1771

			header.fh
				a(href='./index.html'): img.fh-logo(src='img/mini-logo.svg')
				a.fh-cta(href='./schedule-service.html') Schedule Service
				.fh-call (786) 393 1771


			main.gc-wrapper
				block content

			footer.gf
				nav.gf-menu
					ul.gf-nav
						li.gf-nav__item: a.gf-nav__link(href='./job-opportunities.html') Job Opportunities
						li.gf-nav__item: a.gf-nav__link(href='./list-of-services.html') List of Services
						li.gf-nav__item: a.gf-nav__link(href='./our-story.html') Our Story
						li.gf-nav__item: a.gf-nav__link(href='./contact-us.html') Contact Us
